* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}


.content-box {
    position: absolute;
    left: 200px;
    right: 0;
    top: 70px;
    bottom: 0;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: var(--app-content-bg, #fffbeb);
    /* overflow: auto; */
    /* width: 100%; */
}

/* 顶部菜单布局 - 内容区域从左边0开始，顶部从120px开始(70px导航+50px菜单) */
.content-top-menu {
    left: 0 !important;
    top: 120px !important;
}

.app-main {
    /* width: 100vw; */
    margin: 20px;
    background: #fff;
    border-radius: 6px;
    padding: 20px 20px 40px;
}

.content-collapse {
    left: 65px;
}

.crumbs {
    margin: 10px 0;
}

.el-table th {
    background-color: #f5f7fa !important;
}

.el-table .cell {
    user-select: text;
}

.plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
}

.el-button+.el-tooltip {
    margin-left: 10px;
}

.el-table tr:hover {
    background: #f6faff;
}

.mgb20 {
    margin-bottom: 20px;
}

.move-enter-active,
.move-leave-active {
    transition: opacity .1s ease;
}

.move-enter-from,
.move-leave-to {
    opacity: 0;
}

/*BaseForm*/

.form-box {
    width: 600px;
}

.form-box .line {
    text-align: center;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    margin-top: -7px;
}

.el-time-spinner__wrapper .el-scrollbar__wrap:not(.el-scrollbar__wrap--hidden-default) {
    padding-bottom: 0;
}



[class*=" el-icon-"], [class^=el-icon-] {
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.el-sub-menu [class^=el-icon-] {
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
}

[hidden]{
    display: none !important;
}

.flex {
    width: 100%;
    display: flex;
}

.algin-center {
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.mt20 {
    margin-top: 20px;
}

.mr10 {
    margin-right: 10px;
}
.tooltip-max-width {
    max-width: 600px;
}